{"swagger":"2.0","info":{"title":"AzureOpenAIInternal","version":"1.0"},"host":"jovadkeropenaiapim.azure-api.net","basePath":"/","schemes":["https"],"consumes":[],"produces":[],"paths":{"/openai/deployments/chatgpt-deployment/completions":{"post":{"description":"chatgpt","operationId":"chatgpt","summary":"chatgpt","parameters":[{"name":"request","in":"body","schema":{"$ref":"#/definitions/Request"}}],"consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"HTTP 200","schema":{"$ref":"#/definitions/Response"},"examples":{"application/json":{"id":"string","object":"string","created":0,"model":"string","choices":[{"text":"string","index":0,"finish_reason":"string","logprobs":0}],"usage":{"completion_tokens":0,"prompt_tokens":0,"total_tokens":0}}}}}}},"/openai/deployments/LevelUp-text-davinci-003/completions":{"post":{"operationId":"davinci","summary":"davinci","parameters":[{"name":"request","in":"body","schema":{"$ref":"#/definitions/Request"}}],"consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/Response"},"examples":{"application/json":{"id":"string","object":"string","created":0,"model":"string","choices":[{"text":"string","index":0,"finish_reason":"string","logprobs":0}],"usage":{"completion_tokens":0,"prompt_tokens":0,"total_tokens":0}}}}}}}},"definitions":{"Request":{"type":"object","properties":{"prompt":{"type":"string"},"max_tokens":{"type":"integer"},"temperature":{"type":"integer"},"frequency_penalty":{"type":"integer"},"presence_penalty":{"type":"integer"},"top_p":{"type":"number"},"stop":{}},"example":{"prompt":"\"Please extract few bullet points about:\\n\\\"Course of business operations Our business performance was positive overall in the first three months of the year, particularly considering the very good financial results. Nevertheless, these results should be viewed in the context of the war in Ukraine, which continues to preoccupy us on both a human level and in terms of business. We are selectively reducing our loan portfolio in Ukraine, and at the same time we are encouraged by our solid financial results and credit risk indicators there. So far, our banks have not been affected by the banking crisis in the USA and Switzerland, as evidenced by the steady growth trend in our deposits. In addition to the war in Ukraine and the banking crisis, the overall economic environment is also characterised by high inflation and other geopolitical tensions. All ProCredit banks were nonetheless able to report positive, and primarily strong, financial figures in such an environment, thereby helping to achieve a return on equity at the end of the first quarter that underlines our medium-term ambitions. \\n\\\"\"\n\n- Our business performance was positive overall in the first three months of the year.\n- We are selectively reducing our loan portfolio in Ukraine.\n- Our banks have not been affected by the banking crisis in the USA and Switzerland.\n- The overall economic environment is characterised by high inflation and other geopolitical tensions.\n- All ProCredit banks were able to report positive, and primarily strong, financial figures.\n- Return on equity at the end of the first quarter underlines our medium","temperature":1,"top_p":0.5,"frequency_penalty":0,"presence_penalty":0,"max_tokens":100,"best_of":1,"stop":null}},"Response":{"type":"object","properties":{"id":{"type":"string"},"object":{"type":"string"},"created":{"type":"integer"},"model":{"type":"string"},"choices":{"type":"array","items":{"required":["text","index","finish_reason","logprobs"],"type":"object","properties":{"text":{"type":"string"},"index":{"type":"integer"},"finish_reason":{"type":"string"},"logprobs":{"type":"integer"}}}},"usage":{"type":"object","properties":{"completion_tokens":{"type":"integer"},"prompt_tokens":{"type":"integer"},"total_tokens":{"type":"integer"}}}}}},"parameters":{},"responses":{},"securityDefinitions":{"apiKeyHeader":{"type":"apiKey","name":"Ocp-Apim-Subscription-Key","in":"header"},"apiKeyQuery":{"type":"apiKey","name":"subscription-key","in":"query"}},"security":[{"apiKeyHeader":[]},{"apiKeyQuery":[]}],"tags":[]}